@import '_vars';

.section-feature{
    position: relative;
    height: 700px;
    background-color: $bg_light;
    color: $white;
    .container{
        background: $white;
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);            
        border-radius: 30px;
        width: 100%;
        padding: 3rem;
        display: flex;
        .col{
            color: $text_color;
            display: column;
            align-items: center;
            text-align: center;
            padding: 2rem;
            .box-img{
                padding: 2rem;
                img{
                    height: 200px;
                    width: auto
                }
            }
            p{
                @extend .p_text;
            }
        }

    }
    &::before{
        content: "";
        background-color: $primary_color;
        width: 100%;
        height: 50%;
        left: 0;
        position: absolute;
    }
}