
$primary_color: #00009C;
$secondary_color: #4451FF;
$tertiary_color: #3CD3AD;
$gradient_color: #4CB8C4; //gradient  = tertiary + color gradient + tertiary
$text_dark: #252525;
$text_color: #42526E;
$bg_light: #F3F3F3;
$bg_dark: #202020;
$white: #FFFFFF;

.title_text{   
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 150%;

    letter-spacing: 0.01em;
    
    color: $text_dark;
    
    text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);

}
.subtitle_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;


    text-align: center;
    text-transform: capitalize;

    color: #42526E;
}

.slogan_text{
    font-family: 'Inter';

    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-align: right;
    letter-spacing: 4px;

    color: $white;
}

.p_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    
    color: $text_color;
}