@import '_vars';

p{
    @extend .p_text
}

.bg-top{
    fill: $primary_color;
    box-shadow: 10px 4px 44px rgba(0, 0, 0, 0.15);
}
.bg-feature{
    fill: $primary_color;
}

.header{
    background-color: $primary_color;
    padding: 2rem 15rem;
    div{
        p{
            @extend .slogan_text;
        }
    }

}

.hero{
    display: flex;
    justify-content: center;
    .bg-top{
            svg{
                fill: $primary_color;
                margin-top: 0;
                z-index: 1;
                position: absolute;
            }
    }
    .bg-bottom{
        svg{
            fill: $primary_color;
            margin-bottom: 0;
            z-index: 1;
        }
    }
    .hero-row{
        display: flex;
        gap: 50px;
        width: 60%;
        justify-content: center;
        padding: 4rem 0;
        .column-text{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        .column{
            form{
                padding: 6rem;
                width: 70%;
                height: 60rem;
                background: linear-gradient(90deg, #4CB8C4 0%, $tertiary_color 100%);
                box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
                border-radius: 30px;
                z-index: 3;
            }
        }
    }
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2{
        @extend .title_text;
        color: $bg_white;
    }
    .row{
        background: $bg_white;
        box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        display: flex;
        column-gap: 50px;
        width: 100%;
        justify-content: center;
        padding: 5rem 15rem;
        .column{
            gap: 50px;
        }
    }
}

.post{
    display:flex;
    justify-content: center;
    margin: 10rem 0;
    background-color: $bg_light;
    .row{
        width: 60%;
        padding: 10rem 0;
        .column{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                line-height: 6rem;
            }
        }
    }
    }


.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
    background-color: $text_dark;
    .footer-text{
        display: flex;
        flex-direction: column-reverse;

        small{
            font-size: 2rem;
            color: $bg_light;
        }
    }
}