.title_text, .section-hero .hero-row .col-text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #252525;
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}

.subtitle_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #42526E;
}

.slogan_text, .section-header p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.p_text, .section-post .section-post-row .post-text p, .section-feature .container .col p, .section-hero .hero-row .col-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #42526E;
}

.section-header {
  background-color: #00009C;
  width: 100%;
  height: 150px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title_text, .section-hero .hero-row .col-text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #252525;
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}

.subtitle_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #42526E;
}

.slogan_text, .section-header p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.p_text, .section-post .section-post-row .post-text p, .section-feature .container .col p, .section-hero .hero-row .col-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #42526E;
}

.section-hero {
  display: flex;
  justify-content: center;
}
.section-hero .bg-top svg {
  fill: #00009C;
  margin-top: 0;
  z-index: 1;
  position: absolute;
}
.section-hero .hero-row {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.section-hero .hero-row .col-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section-hero .hero-row .col-text h1 {
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}
.section-hero .hero-row .col-text p {
  width: 80%;
}
.section-hero .hero-row .col-form {
  justify-content: end;
}
.section-hero .hero-row .col-form form {
  padding: 4rem;
  margin: 0;
  z-index: 3;
  width: 521px;
  height: 620px;
  background-image: url(../images/TextureFrom.png);
  background: linear-gradient(90deg, #3CD3AD 0%, #4CB8C4 50.52%, #3CD3AD 100%);
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}
.section-hero .hero-row .col-form form h4 {
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 5px;
}
.section-hero .hero-row .col-form form label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.section-hero .hero-row .col-form form .input-full {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  margin: 0;
}
.section-hero .hero-row .col-form form .input-med {
  width: 250px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  margin: 0;
}
.section-hero .hero-row .col-form form .input-small {
  width: 200px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 5px;
  text-align: end;
  border: none;
  margin: 0;
}
.section-hero .hero-row .col-form form .checkbox {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0;
  text-align: center;
  height: 20px;
  font-family: "inter";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  color: #252525;
}
.section-hero .hero-row .col-form form .form-col {
  display: flex;
  justify-content: space-between;
}
.section-hero .hero-row .col-form form button {
  background-color: #4451FF;
  font-size: 14px;
  letter-spacing: 2px;
  height: 50px;
}

.title_text, .section-hero .hero-row .col-text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #252525;
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}

.subtitle_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #42526E;
}

.slogan_text, .section-header p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.p_text, .section-post .section-post-row .post-text p, .section-feature .container .col p, .section-hero .hero-row .col-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #42526E;
}

.section-feature {
  position: relative;
  height: 700px;
  background-color: #F3F3F3;
  color: #FFFFFF;
}
.section-feature h2 {
  color: #FFFFFF;
}
.section-feature .container {
  background: #FFFFFF;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 100%;
  padding: 3rem;
  display: flex;
}
.section-feature .container .col {
  color: #42526E;
  display: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.section-feature .container .col .box-img {
  padding: 2rem;
}
.section-feature .container .col .box-img img {
  height: 200px;
  width: auto;
}
.section-feature::before {
  content: "";
  background-color: #00009C;
  width: 100%;
  height: 50%;
  left: 0;
  position: absolute;
}

.title_text, .section-hero .hero-row .col-text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #252525;
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}

.subtitle_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #42526E;
}

.slogan_text, .section-header p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.p_text, .section-post .section-post-row .post-text p, .section-hero .hero-row .col-text p, .section-feature .container .col p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #42526E;
}

.section-post {
  background-color: #F3F3F3;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-post .section-post-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 500px;
  background-color: #FFFFFF;
  padding: 3rem;
}
.section-post .section-post-row .post-text p {
  font-size: 20px;
}

.title_text, .section-hero .hero-row .col-text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #252525;
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}

.subtitle_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #42526E;
}

.slogan_text, .section-header p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.p_text, .section-hero .hero-row .col-text p, .section-feature .container .col p, .section-post .section-post-row .post-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #42526E;
}

.section-footer {
  width: 100%;
  height: 250px;
  background-color: #202020;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title_text, .section-hero .hero-row .col-text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #252525;
  text-shadow: 0px 4px 44px rgba(0, 0, 0, 0.15);
}

.subtitle_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #42526E;
}

.slogan_text, .section-header p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  letter-spacing: 4px;
  color: #FFFFFF;
}

.p_text, .section-hero .hero-row .col-text p, .section-feature .container .col p, .section-post .section-post-row .post-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #42526E;
}

@media (max-width: 767px) {
  .section-header {
    width: 100%;
  }
  .section-hero .hero-row {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .section-hero .hero-row .col-text {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  .section-feature {
    padding: 2rem;
    height: auto;
  }
  .section-feature .container {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .section-post {
    height: 100rem;
  }
  .section-post .section-post-row {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .section-post .section-post-row .post-text {
    text-align: center;
  }
  .section-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
    height: 30rem;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */